/*
	Name: Lukas Suarez
	File: style.css
	Date: 2026-02-27
	Style css for john do
	*/

html {
    background-color: white;
}

body {
    font: 1.2em / 1.5 system-ui;
    padding: 20px;
    width: 500px;
    background-color: #efefef;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: green;
}

div {
    color: darkslategray;
}

h1 {
    color: darkslategray;
    border-bottom:10px dotted purple;
    font-size: 2rem;
}

h2 {
    font-style: italic;
    font-size: 1.5rem;
}

ul {
    background-color: white;
    border: 5px solid purple ;
    padding: 30px ;
    border-radius: 20px;
    
}